# The transport for the MCP server - either 'sse' or 'stdio' (defaults to SSE if left empty)
TRANSPORT=

# Host to bind to if using sse as the transport (leave empty if using stdio)
HOST=

# Port to listen on if using sse as the transport (leave empty if using stdio)
PORT=

CONFIG_FILE="../mem0_config.yml"

# neo4j settings
NEO4J_USERNAME=
NEO4J_PASSWORD=